doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    block title
      title="Default title"
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //bower:css
    //endbower
    link(rel='stylesheet', href='public/styles/main.css')
    block styles
  body

    block content
      p.
        Default content

    //bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/validator-js/validator.js')
    //endbower
    script(src="http://localhost:35729/livereload.js")
    block scripts
