$primary: HSLA(187, 100%, 42%, 1);
$primary-light: HSLA(187, 71%, 82%, 1);
$primary-dark: HSLA(186, 77%, 37%, 1);

$secondary:      HSLA(30, 100%, 48%, 1);
$secondary-light: HSLA(35, 97%, 85%, 1);
$secondary-dark:   HSLA(21, 100%, 45%, 1);

$text-dark-primary: HSLA(0, 0%, 0%, .87);
$text-dark-secondary: HSLA(0, 0%, 0%, .54);
$text-dark-hint: HSLA(0, 0%, 0%, .26);

$text-light-primary: HSLA(0, 0%, 100%, 1);
$text-light-secondary: HSLA(0, 0%, 100%, .70);
$text-light-hint: HSLA(0, 0%, 100%, .30);
