@import "colors";
@import "forms";
@import "header";
@import "main";

form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
input[type="password"] {
  margin-bottom: 20px;
}
.error {
  color: hsla(360, 80%, 50%, 1.0)
}
