extend ../index.jade
block title
  title="New URL"
block styles
  link(rel="stylesheet" href="/public/styles/submitted.css")

block content
  include ./header.jade
  .container
    p.info.
      Your secure URL is below.
    .securl
      a(href=url)
        //Remove http://
        =url.substr(7)


